%link{:href => "http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css", :rel => "stylesheet"}
  %section.secondary-tabs
    .row.collapse
      .small-12.columns
        %ul.tabs{"data-tab" => ""}
          - departments.each_with_index do |department, index|
            %li.tab-title.active
              %a{:href => "#panel-#{index + 1}"}
                %i{class: "#{%w(fi-wrench fi-widget fi-video fi-photo).sample}"}>
                = department.name
        .tabs-content
          #panel-1.content.active
            .row
              .small-12.columns
                %h3.subheader Progress - A Song of Ice and Fire
                %h5.project Daenerys Targaryen
                .progress
                  %span.meter.blue{:style => "width:65%"}
                    %p.percent 65%
                %h5.project Joffrey Baratheon
                .progress
                  %span.meter.green{:style => "width:35%"}
                    %p.percent 35%

          #panel-2.content
            .row
              .medium-4.columns.text-center
                %p Notifications
                .switch.round
                  %input#s1{:type => "checkbox"}
                    %label{:for => "s1"}
                %p Voice Control
                .switch.round
                  %input#s2{:type => "checkbox"}
                    %label{:for => "s2"}

          #panel-3.content
            .row
              .medium-6.columns
                .flex-video
                  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/aiBt44rrslw", :width => "420"}
          #panel-4.content
            .row
              .small-12.columns
                %button
                  %i.fi-download Download
                %button
                  %i.fi-upload upload
                %ul.small-block-grid-3.medium-block-grid-6.large-block-grid-8
                  %li
                    %img.th{:src => "http://placehold.it/150x150"}/
                  %li
                    %img.th{:src => "http://placehold.it/150x150"}/
    %section
