= render partial: 'department_tabs', locals: {departments: @departments}
%div{'ng-controller' => 'EmployeeController', 'ng-init' => 'init()'}
  %table
    %thead
      %tr
        %th Employee ID
        %th First Name
        %th Last Name
        %th Hire Date
        %th Termination Date
    %tbody
      %tr{'ng-repeat' => "employee in employees"}
        %td {{employee.id}}
        %td {{employee.first_name}}
        %td {{employee.last_name}}
        %td {{employee.hire_date}}
        %td {{employee.termination_date}}

  %div{'ng-show' => 'errors', 'ng-repeat' => '(key, message) in errors'}
    %div.alert-box.warning{data: {alert: true}}
      {{ key }} - {{ message[0] }}
      %a{href: "#", class: "close", 'ng-click' => 'deleteError'}⊗

  %form{'ng-submit' => 'createEmployee()', class: 'new-employee-form'}
    %input{type: 'text', 'ng-model' => 'newEmployee.first_name', placeholder: 'First Name', name: 'first_name'}
    %input{type: 'text', 'ng-model' => 'newEmployee.middle_name', placeholder: 'Middle Name', name: 'middle_name'}
    %input{type: 'text', 'ng-model' => 'newEmployee.last_name', placeholder: 'Last Name', name: 'last_name' }
    %input{type: 'text', 'ng-model' => 'newEmployee.hire_date', datepicker: true, name: 'hire_date', placeholder: 'Select a Date'}
    %input{type: 'submit', class: 'button', value: 'Create New'}


